@import "tailwindcss";
:root {
  --background: 240 21% 15%;
  --foreground: 231 15% 85%;

  --card: 240 21% 15%;
  --card-foreground: 231 15% 85%;

  --popover: 240 21% 15%;
  --popover-foreground: 231 15% 85%;

  --primary: 231 15% 85%;
  --primary-foreground: 240 21% 15%;

  --secondary: 240 17% 26%;
  --secondary-foreground: 231 15% 85%;

  --muted: 240 17% 26%;
  --muted-foreground: 231 11% 71%;

  --accent: 240 17% 26%;
  --accent-foreground: 231 15% 85%;

  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 98%;

  --border: 240 24% 45%;
  --input: 240 24% 45%;
  --ring: 240 24% 45%;

  --radius: 0.5rem;
}


@layer base {
  * {
    @reference border-border;
  }
  body {
    @reference bg-background text-foreground;
  }
}

